/* Universal styles */
html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* nav bar */
nav {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 60px;
  width: 100%;
}